input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* Em seu arquivo CSS ou estilo */
@media print {
  .menu-lateral {
    display: none;
  }
}
